attrs==19.1.0
Babel==2.7.0
certifi==2019.6.16
chardet==3.0.4
datapunt-config-loader==1.1.2
datapunt-objectstore==2019.4.8
debtcollector==1.21.0
idna==2.8
iso8601==0.1.12
jsonschema==3.0.2
keystoneauth1==3.17.0
msgpack==0.6.1
netaddr==0.7.19
netifaces==0.10.9
os-service-types==1.7.0
oslo.config==6.11.1
oslo.i18n==3.23.1
oslo.serialization==2.29.1
oslo.utils==3.41.0
pbr==5.4.2
pyparsing==2.4.2
pyrsistent==0.15.4
python-keystoneclient==3.20.0
python-swiftclient==3.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
rfc3986==1.3.2
six==1.12.0
stevedore==1.30.1
urllib3==1.25.3
wrapt==1.11.2
